<div class="container-fluid" id="inside">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
  </div>

  <div class="count_box">
    <div class="count">회원수</div>
    <div class="count">설문지 등록갯수</div>
    <div class="count">상품 수</div>
 </div>
  
 <div class="satisfaction_survey">
    <h2>Chart</h2>
    <div class="chart"></div>
 </div>

 <div class="bookmark_rank">
    <h2>Bookmar rank</h2>
    
    <p>즐겨찾기 TOP3</p>
    <div class="rank_box" id="all_top3">
      <div class="rank_product_img"></div>
      <div class="rank_product_img"></div>
      <div class="rank_product_img"></div>
    </div>

    <p>10대~20대 TOP3</p>
    <div class="rank_box" id="age_group_10to20">
      <div class="rank_product_img"></div>
      <div class="rank_product_img"></div>
      <div class="rank_product_img"></div>
    </div>

    <p>30대 이상 TOP3</p>
    <div class="rank_box" id="adults_over_30">
      <div class="rank_product_img"></div>
      <div class="rank_product_img"></div>
      <div class="rank_product_img"></div>
    </div>

    <p>남자 TOP3</p>
    <div class="rank_box" id="menFavorite">
      <div class="rank_product_img"></div>
      <div class="rank_product_img"></div>
      <div class="rank_product_img"></div>
    </div>

    <p>여자 TOP3</p>
    <div class="rank_box" id="womenFavorite">
      <div class="rank_product_img"></div>
      <div class="rank_product_img"></div>
      <div class="rank_product_img"></div>
    </div>
 </div>


</div>
