<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Admin</title>
<!--    <link-->
<!--      href="vendor/fontawesome-free/css/all.min.css"-->
<!--      rel="stylesheet"-->
<!--      type="text/css"-->
<!--    />-->
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />
    <link href="/css/management/sb-admin-2.min.css" rel="stylesheet" />
    <link href="/css/management/common.css" rel="stylesheet" />
  </head>

  <body id="page-top">
    <div id="wrapper">
      <!-- 사이드바 -->
      <div id="sidebar" th:replace="~{management/sidebar}"></div>
      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          <!-- 해더 -->
          <div id="header" th:replace="~{management/header}"></div>
          <!-- 내용 -->
          <div class="container-fluid">
            <div class="d-sm-flex align-items-center justify-content-between mb-4"
            ></div>
            <!-- 대시보드 -->
            <div id="dashboard" th:replace="~{management/dashboard}"></div>
          </div>
        </div>
        <!-- 푸터 -->
        <div id="footer" th:replace="~{management/footer}"></div>
      </div>
    </div>
    <div id="logout_modal"></div>

    <script src="/jquery/jquery.slim.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>

    <script src="/js/management/sb-admin-2.min.js"></script>
    <script src="/js/management/chart-area-demo.js"></script>
    <script src="/js/management/chart-pie-demo.js"></script>
  </body>
</html>
