<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Admin</title>
        <link
            href="vendor/fontawesome-free/css/all.min.css"
            rel="stylesheet"
            type="text/css" />
        <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet" />
        <link href="css/sb-admin-2.min.css" 
        rel="stylesheet" />
        <link rel="stylesheet" href="/css/post.css">
    </head>

    <body id="page-top">
        <div id="wrapper">
            <!-- 사이드바 -->
            <div id="sidebar"></div>
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <!-- 해더 -->
                    <div id="header"></div>
                    <!-- 내용 -->
                   

                    <div class="container-fluid" id = "notice-list">
                        <h1>게시물 관리 - 공지사항</h1>
                        <button class="btn btn-primary" id="qaRegisterBtn">등록</button>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellpadding="10">
                                    <thead>
                                        <tr>
                                            <th>체크박스</th>
                                            <th>게시글 번호</th>
                                            <th>작성자</th>
                                            <th>제목</th>
                                            <th>권한</th>
                                            <th>작성일</th>
                                            <th>조회/삭제</th>
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                        <tr>
                                            
                                            <th><input type='checkbox'/></th>  
                                            <td>1</td>
                                            <td>홍길동</td>
                                            <td>홍길동전</td>
                                            <td>관리자</td>
                                            <td>2025-02-28</td>
                                            <th> <button class="view-btn" data-id="1" data-title="홍길동전" data-author="관리자">조회</button>
                                                &nbsp;&nbsp;&nbsp;<input type="button" value="삭제"></th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="container-fluid" id="post-detail" style="display: none;">
                        <div
                            class="d-sm-flex align-items-center justify-content-between mb-4"></div>
                        <h1>게시물 관리 - 공지사항</h1>
                            <div class ="post_container"> 
                                <div class="post_box">
                                    <div class="post_top" id="post-title">제목: </div>
                                    <div class="post_text" id="post-author"></div>
                                </div>
                            </div>
                            <div class="button-group mt-3">
                                <button class="btn btn-primary" id="registerBtn">수정</button>
                                <button class="btn btn-secondary" id="backBtn">뒤로 가기</button>
                            </div>
                        </div>
                        </div>
    
    
                    </div>





                    </div>


                </div>
            </div>
        </div>
            




                <!-- 푸터 -->
                <div id="footer"></div>
        </div>
        <div id="logout_modal"></div>



        
        <!--sohye-->
        <script>
            document.querySelectorAll(".view-btn").forEach(button => {
                button.addEventListener("click", function() {
                    // 게시글 정보 가져오기
                    const postId = this.getAttribute("data-id");
                    const postTitle = this.getAttribute("data-title");
                    const postAuthor = this.getAttribute("data-author");
        
                    // 상세 페이지 내용 변경
                    document.getElementById("post-title").textContent = `제목: ${postTitle}`;
                    document.getElementById("post-author").textContent = `권한: ${postAuthor}`;
        
                    // 목록 숨기고 상세보기 표시
                    document.getElementById("notice-list").style.display = "none";
                    document.getElementById("post-detail").style.display = "block";
                });
            });

                // 뒤로 가기 버튼
                document.getElementById("backBtn").addEventListener("click", function() {
                document.getElementById("post-detail").style.display = "none";
                document.getElementById("notice-list").style.display = "block";
            });
        </script>

        <!-- Bootstrap core JavaScript-->
        <script>
            fetch("header.html")
                .then(res => res.text())
                .then(
                    data => (document.getElementById("header").innerHTML = data)
                );

            fetch("sidebar.html")
                .then(res => res.text())
                .then(
                    data =>
                        (document.getElementById("sidebar").innerHTML = data)
                );

            fetch("dashboard.html")
                .then(res => res.text())
                .then(
                    data =>
                        (document.getElementById("dashboard").innerHTML = data)
                );
            fetch("footer.html")
                .then(res => res.text())
                .then(
                    data => (document.getElementById("footer").innerHTML = data)
                );
            fetch("logoutModal.html")
                .then(res => res.text())
                .then(
                    data =>
                        (document.getElementById("logout_modal").innerHTML =
                            data)
                );
        </script>

        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="js/sb-admin-2.min.js"></script>

        <!-- Page level plugins -->
        <script src="vendor/chart.js/Chart.min.js"></script>

        <!-- Page level custom scripts -->
        <script src="js/demo/chart-area-demo.js"></script>
        <script src="js/demo/chart-pie-demo.js"></script>
    </body>
</html>