<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Admin</title>
<!--        <link-->
<!--            href="vendor/fontawesome-free/css/all.min.css"-->
<!--            rel="stylesheet"-->
<!--            type="text/css" />-->
        <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet" />
        <link href="/css/management/sb-admin-2.min.css"
        rel="stylesheet" />
        <link rel="stylesheet" href="/css/management/post.css">
    </head>
    <style>
        .container{
            box-shadow: none;
        }
    </style>
    <body id="page-top">
        <div id="wrapper">
            <!-- 사이드바 -->
            <div id="sidebar" th:replace="~{management/sidebar}"></div>
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <!-- 해더 -->
                    <div id="header" th:replace="~{management/header}"></div>
                    <!-- 내용 -->
                   

                    <div class="container-fluid" id = "notice-list">
                        <h1>게시물 관리 - 공지사항</h1>
                        <form action="/notice/write" method="get">
                            <button type="submit" class="btn btn-primary" id="qaRegisterBtn">등록</button>
                        </form>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellpadding="10" >
                                    <thead>
                                        <tr>
                                            <th>게시글 번호</th>
                                            <th>작성자</th>
                                            <th>제목</th>
                                            <th>권한</th>
                                            <th>작성일</th>
                                            <th>조회/삭제</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                    <tr th:each="notice : ${list}">
                                        <td th:text="${notice.id}">게시글 번호</td>
                                        <th>작성자</th>
                                        <td>
                                            <a th:text="${notice.title}" th:href="@{/notice/view(id=${notice.id})}">제목</a>
                                        </td>
                                        <th>권한</th>
                                        <td th:text="${#temporals.format(notice.created_at, 'yy-MM-dd &nbsp;HH:mm')}">작성일</td>
                                        <th>
                                            <div class="button-container">
                                                <button><a th:href="@{/notice/delete(id=${notice.id})}">삭제</a></button>&nbsp;&nbsp;&nbsp;
                                                <button><a th:href="@{/notice/modify/{id}(id=${notice.id})}">수정</a></button>
                                            </div>
                                        </th>
                                    </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>

        <div class="pagination">
            <!-- 이전 버튼 -->
            <button class="pagination-btn prev"
                    th:disabled="${nowPage == 1}"
                    th:onclick="'location.href=\'/notice/list?page=' + (${nowPage - 2}) + (${searchKeyword} != null ? '&searchKeyword=' + ${searchKeyword} : '') + '\''">
                ◀
            </button>

            <!-- 페이지 번호 버튼 -->
            <th:block th:each="pageNum : ${#numbers.sequence(startPage, endPage)}">
                <button class="pagination-btn"
                        th:classappend="${pageNum == nowPage} ? 'active'"
                        th:onclick="'location.href=\'/notice/list?page=' + (${pageNum - 1}) + (${searchKeyword} != null ? '&searchKeyword=' + ${searchKeyword} : '') + '\''">
                    [[${pageNum}]]
                </button>
            </th:block>

            <!-- 다음 버튼 -->
            <button class="pagination-btn next"
                    th:disabled="${nowPage == endPage}"
                    th:onclick="'location.href=\'/notice/list?page=' + ${nowPage} + (${searchKeyword} != null ? '&searchKeyword=' + ${searchKeyword} : '') + '\''">
                ▶
            </button>

        </div>
            </div>
            </div>
        </div>
                <!-- 푸터 -->
        <div id="footer" th:replace="~{management/footer}"></div>

        <div id="logout_modal" th:replace="~{management/logoutModal}"></div>



        
        <!--sohye-->
        <script>
            document.addEventListener("click", function(event) {
                if (event.target.classList.contains("view-btn")) {
                    const postId = event.target.getAttribute("data-id");
                    const postTitle = event.target.getAttribute("data-title");
                    const postAuthor = event.target.getAttribute("data-author");

                    document.getElementById("post-title").textContent = `제목: ${postTitle}`;
                    document.getElementById("post-author").textContent = `권한: ${postAuthor}`;

                    document.getElementById("notice-list").style.display = "none";
                    document.getElementById("post-detail").style.display = "block";
                }
            });


            // 뒤로 가기 버튼
                document.getElementById("backBtn").addEventListener("click", function() {
                document.getElementById("post-detail").style.display = "none";
                document.getElementById("notice-list").style.display = "block";
            });
        </script>

        <!-- Bootstrap core JavaScript-->
        <script>
            fetch("header.html")
                .then(res => res.text())
                .then(
                    data => (document.getElementById("header").innerHTML = data)
                );

            fetch("sidebar.html")
                .then(res => res.text())
                .then(
                    data =>
                        (document.getElementById("sidebar").innerHTML = data)
                );

            fetch("dashboard.html")
                .then(res => res.text())
                .then(
                    data =>
                        (document.getElementById("dashboard").innerHTML = data)
                );
            fetch("footer.html")
                .then(res => res.text())
                .then(
                    data => (document.getElementById("footer").innerHTML = data)
                );
            fetch("logoutModal.html")
                .then(res => res.text())
                .then(
                    data =>
                        (document.getElementById("logout_modal").innerHTML =
                            data)
                );
        </script>

        <script src="/jquery/jquery.slim.js"></script>
        <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/bootstrap/js/bootstrap.js"></script>

        <script src="/js/management/sb-admin-2.min.js"></script>
        <script src="/js/management/chart-area-demo.js"></script>
        <script src="/js/management/chart-pie-demo.js"></script>
    </body>
</html>