<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Admin</title>
        <link
            href="vendor/fontawesome-free/css/all.min.css"
            rel="stylesheet"
            type="text/css" />
        <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet" />
        <link href="css/sb-admin-2.min.css" 
        rel="stylesheet" />
        <link rel="stylesheet" href="/css/post.css">
    </head>

    <body id="page-top">
        <div id="wrapper">
            <!-- 사이드바 -->
            <div id="sidebar"></div>
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <!-- 해더 -->
                    <div id="header"></div>
                    <!-- 내용 -->
                    <div class="container-fluid">
                        <div
                            class="d-sm-flex align-items-center justify-content-between mb-4"></div>
                        <h1>게시물 관리</h1>
                        <div class="box_container">
                            <div class="box" onclick="location.href='post_qna.html';" style="cursor: pointer;">
                                <div class="box_top">Q&A</div>
                                <div class="box_text">1</div>
                            </div>

                            <div class="box" onclick="location.href='post_notice.html';" style="cursor: pointer;">
                            <div class="box_top">공지사항</div>
                            <div class="box_text">12</div>
                        </div>

                        <div class="box" onclick="location.href='post_freeboard.html';" style="cursor: pointer;">
                            <div class="box_top">자유게시판</div>
                            <div class="box_text">54</div>
                        </div>
                        </div>
                    </div>

                    



                <!-- 푸터 -->
                <div id="footer"></div>
        </div>
        <div id="logout_modal"></div>

        <!-- Bootstrap core JavaScript-->
        <script>
            fetch("header.html")
                .then(res => res.text())
                .then(
                    data => (document.getElementById("header").innerHTML = data)
                );

            fetch("sidebar.html")
                .then(res => res.text())
                .then(
                    data =>
                        (document.getElementById("sidebar").innerHTML = data)
                );

            fetch("dashboard.html")
                .then(res => res.text())
                .then(
                    data =>
                        (document.getElementById("dashboard").innerHTML = data)
                );
            fetch("footer.html")
                .then(res => res.text())
                .then(
                    data => (document.getElementById("footer").innerHTML = data)
                );
            fetch("logoutModal.html")
                .then(res => res.text())
                .then(
                    data =>
                        (document.getElementById("logout_modal").innerHTML =
                            data)
                );
        </script>

        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="js/sb-admin-2.min.js"></script>

        <!-- Page level plugins -->
        <script src="vendor/chart.js/Chart.min.js"></script>

        <!-- Page level custom scripts -->
        <script src="js/demo/chart-area-demo.js"></script>
        <script src="js/demo/chart-pie-demo.js"></script>
    </body>
</html>