<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Admin</title>
<!--    <link-->
<!--      href="vendor/fontawesome-free/css/all.min.css"-->
<!--      rel="stylesheet"-->
<!--      type="text/css"-->
<!--    />-->
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />
    <link href="/css/management/sb-admin-2.min.css" rel="stylesheet" />
    <link href="/css/management/common.css" rel="stylesheet" />
  </head>

  <body id="page-top">
    <div id="wrapper">
      <!-- 사이드바 -->
      <div id="sidebar" th:replace="~{management/sidebar}"></div>
      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          <!-- 해더 -->
          <div id="header" th:replace="~{management/header}"></div>
          <!-- 내용 -->
          <div class="container-fluid" id="survey-wrap">

            <div
              class="d-sm-flex align-items-center justify-content-between mb-4"
            ></div>
            <!-- 작업하신거 -->
            
                <h2 class="h3 mb-2 text-gray-800">설문 관리 - 설문지 수정</h2>
            
            
            
            
            <div class="card-body">
                <div class="table-responsive">
                    <label>제목:
                        <input type="text" placeholder="제목을 입력해주세요.">
                    </label>
                    <div class="button-container2">
                        <button>질문 추가</button>
                    </div>
                    <h5>Q1. 기본정보</h5>
                    <div class="form-group">
                        <label>이름</label>
                        <input type="text">
                    </div>
                    <div class="form-group">
                        <label>성별</label>
                        <input type="checkbox">남
                        <input type="checkbox">여
                    </div>
                    <div class="form-group">
                        <label>나이</label>
                        <input type="text">
                    </div>
                    <div class="form-group">
                        <label>키</label>
                        <input type="text">
                    </div>
                    <div class="form-group">
                        <label>몸무게</label>
                        <input type="text">
                    </div>
                    <div class="button-container">
                        <button>이 위치에 추가</button>
                    </div>
                </div>
            </div>
            
            <div class="card-body">
                <div class="table-responsive">
                    <h5>Q1. 증상 불편</h5>
                    <div class="button-container">
                        <button>질문 추가</button>
                    </div>
                    <h6>Q1-1 평소에 염려하고 있는 곳
                        <button>버튼</button>
                        <input type="button" value="텍스트">
                    </h6>
                    <h6>Q1-1 실제로 아픈 곳
                        <button>버튼</button>
                        <input type="button" value="텍스트">
                    </h6>
                </div>
            </div>

            <div class="card-body">
                <h5><label>Q2.
                <input type="text" placeholder="제목을 적어주세요.">
                </label></h5>
                <div class="button-container2">
                    <button>질문 추가</button>
                </div>
            </div>

            <div class="commit-container">
                <button class="commitbutton">수정 완료</button>&nbsp&nbsp&nbsp&nbsp
                <input type="button" value="취소">
            </div>

                   <!-- 작업하신거  -->
          </div>
        </div>

<!-- 푸터 -->
<div id="footer" th:replace="~{management/footer}"></div>
</div>
</div>
<div id="logout_modal" th:replace="~{management/logoutModal}"></div>


<!-- Bootstrap core JavaScript-->
<script>
fetch("header.html")
  .then((res) => res.text())
  .then((data) => (document.getElementById("header").innerHTML = data));

fetch("sidebar.html")
  .then((res) => res.text())
  .then((data) => (document.getElementById("sidebar").innerHTML = data));

fetch("dashboard.html")
  .then((res) => res.text())
  .then(
    (data) => (document.getElementById("dashboard").innerHTML = data)
  );
fetch("footer.html")
  .then((res) => res.text())
  .then((data) => (document.getElementById("footer").innerHTML = data));
fetch("logoutModal.html")
  .then((res) => res.text())
  .then(
    (data) => (document.getElementById("logout_modal").innerHTML = data)
  );
</script>

<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/management/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="/js/management/chart-area-demo.js"></script>
<script src="/js/management/chart-pie-demo.js"></script>


</body>
</html>