<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main/header.css" type="text/css" />
    <link rel="stylesheet" href="/css/main/event.css" type="text/css" />
    <title>Event</title>
  </head>
  <body>
  <header id="header" class="header_wrap" th:replace="~{main/mainHeader}"></header>
    <div class="container">
      <h2 class="page-title">이벤트</h2>
      <div class="button-group">
        <button class="btn active">전체 보기</button>
        <button class="btn">진행중인 이벤트</button>
        <button class="btn">종료된 이벤트</button>
      </div>
      <div class="banner">
        <div class="banner-content">
          <h1>오늘 주문하고 내일받자!🚚<br>TIME SALE<br>퍼펙트 파워딜</h1>
          <button class="btn">한정수량 특가찬스</button>
        </div>
        <div class="timer">
          <img src="clock.png" alt="">
        </div>
      </div>
      <div class="info-section">
        <div class="info-header">
          <span class="icon">🎟️</span>
          <h2>말왕 부스터 또는 그린 슈퍼푸드 구매 시 <br>
            결제 예정금액 7% 추가할인</h2>
          <span class="date">⏰ Wed, 19 May 2025 12:00:00 GMT</span>
        </div>
        <ul>
          <li>혁신적인 역대급 콜라보 강력한 운동 전 부스터 - 말왕 한정판 드라이 스쿱</li>
          <li>간편하게 섭취하는 채소 매일을 위한 그린 솔루션 - 그린 슈퍼푸드</li>
          <li>1개만 구매해도 최종 결제 예정금액 7% 추가 할인</li>
        </ul>
        <a href="https://www.myprotein.com" class="more-btn">구매하기</a>
      </div>
    </div>
  </body>
  <script src="/js/main/header.js"></script>
</html>
