<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/mypage.css" type="text/css" />
    <link rel="stylesheet" href="css/header.css" type="text/css" />
    <title>즐겨찾기</title>
  </head>
  <body>
    <div id="header"></div>
    <div class="big_container">
      <div class="middle_container">
        <div class="favorite_title">
          <img
            id="favorite_img"
            src="images/favorite.png"
            alt="즐겨찾기 이미지"
          />
          <p id="favorite_title_text">즐겨찾기</p>
        </div>

        <div class="small_title">
          <p>즐겨찾는 상품</p>
        </div>

        <div class="my_favorite_product">
          <div class="product_directory">
            <div class="product" id="product_1">
              <div class="favorite_star">
                <img src="images/Star 1.png" alt="Star" />
              </div>
              <img src="images/다운로드 1.png" alt="마이프로틴" />
              <p>임팩트 웨이 프로틴</p>
            </div>

            <div class="product" id="product_2">
              <div class="favorite_star">
                <img src="images/Star 1.png" alt="Star" />
              </div>
              <img src="images/다운로드 1.png" alt="마이프로틴" />
              <p>임팩트 웨이 프로틴</p>
            </div>
            <div class="product" id=""></div>
            <div class="product" id=""></div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="/js/header.js" defer></script>
</html>
