<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자유게시판-댓글</title>
    <link rel="stylesheet" href="/css/boardcm.css">
    <link rel="stylesheet" href="css/header.css" type="text/css" />
</head>
<body>
    <div id="header"></div>
    <input type="text" class="title-box" placeholder="추천 잘해주는 거 같아요"></input>
    <div class="separator"></div>
    <textarea class="content-box" placeholder="여러 보충제를 먹어봤지만 소화가 잘 안되가지고.. 고민이 많았어요ㅠㅠ
설문지 작성해서 저한테 맞는 보충제를 픽해서 알려주니까 1:1 맞춤인 느낌?
받아서 먹어보니까 전보다 소화도 잘되고 단백질까지 챙겨서
헬스인인 저한테는 너무나 만족스러운 구매였습니다.!
보충제 뭐사야할지 고민이라면 설문 통해서 구매하는거 완전 추천!!"></textarea>
    <div class="upload-section">
        <div class="upload-box">
            <img src="upload-icon.png" alt="">
            <span>사진 (0/5)</span>
        </div>
    </div>
    <div class="separator1"></div>
    <div class="comment">
        <textarea type="text" class="comment-box"></textarea>
    </div>
    
    <div class="button-container">
        <button>올리기</button>
    </div>
    <div id="uploadModal" class="modal">
        <div class="modal-content">
            등록되었습니다!
        </div>
    </div>
</body>
<script src="/js/free_boardcm2.js"></script>
<script src="/js/header.js" defer></script>
</html>