<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main/board.css" />
    <link rel="stylesheet" href="/css/main/header.css" type="text/css" />
    <title>자유게시판</title>
  </head>
  <body>
    <div id="header" class="header_wrap" th:replace="~{main/mainHeader}"></div>
    <div class="Container2">
      <h2 class="faq-title">자유게시판</h2>
      <table class="table2">
        <thead>
          <tr>
            <th scope="col">번호</th>
            <th scope="col">제목</th>
            <th scope="col">날짜</th>
            <th scope="col">조회</th>
            <th scope="col">추천</th>
          </tr>
        </thead>
        <tbody>
        <tr th:each="userPostBoard : ${list}">
          <td th:text="${userPostBoard.id}">번호</td>
          <td>
            <a th:text="${userPostBoard.title}"
               th:href="@{/main/Free_boardcm(id=${userPostBoard.id})}">
              제목
            </a>


          </td>
          <td th:text="${#temporals.format(userPostBoard.created_at, 'yyyy-MM-dd HH:mm:ss')}">작성일</td>
          <td th:text="${userPostBoard.countview}">난조회수</td>
<!--          <td th:text="${userPostBoard.voter}">난조회수</td>-->
<!--          <td th:text="${#temporals.format(userPostBoard.updated_at, 'yyyy-MM-dd HH:mm:ss')}">수정일</td>-->
        </tr>

        <tr>
          <td>회원정보</td>
          <td>
            회원정보 변경은 어디서 하나요?
            <div class="user-id">작성자: user123</div>
          </td>
          <td>16:42</td>
          <td>15</td>
          <td>15</td>
        </tr>
          <tr>
            <td>회원정보</td>
            <td>
              회원정보 변경은 어디서 하나요?
              <div class="user-id">작성자: user123</div>
            </td>
            <td>16:42</td>
            <td>15</td>
            <td>15</td>
          </tr>
          <tr>
            <td>회원정보</td>
            <td>
              비밀번호가 생각나지 않아요?
              <div class="user-id">작성자: user123</div>
            </td>
            <td>06:42</td>
            <td>15</td>
            <td>15</td>
          </tr>
          <tr>
            <td>회원정보</td>
            <td>
              회원탈퇴를 하고 싶어요.
              <div class="user-id">작성자: user123</div>
            </td>
            <td>25-03-01</td>
            <td>15</td>
            <td>15</td>
          </tr>
          <tr>
            <td>제품</td>
            <td>
              프로틴 파우더와 프로틴 바의 차이는 무엇인가요?
              <div class="user-id">작성자: user123</div>
            </td>
            <td>25-03-01</td>
            <td>15</td>
            <td>15</td>
          </tr>
          <tr>
            <td>프로틴 케어</td>
            <td>
              프로틴 알맞게 섭취를 받으려면 어떻게 해야 하나요?
              <div class="user-id">작성자: user123</div>
            </td>
            <td>25-03-01</td>
            <td>15</td>
            <td>15</td>
          </tr>
          <tr>
            <td>프로틴 케어</td>
            <td>
              프로틴 많이 먹어도 될까요?
              <div class="user-id">작성자: user123</div>
            </td>
            <td>25-03-01</td>
            <td>15</td>
            <td>15</td>
          </tr>
          <tr>
            <td>프로틴 케어</td>
            <td>
              프로틴의 운동효과는 무엇인가요?
              <div class="user-id">작성자: user123</div>
            </td>
            <td>25-03-01</td>
            <td>15</td>
            <td>15</td>
          </tr>
          <tr>
            <td>기타</td>
            <td>
              프로틴 보관은 어디에 해야 하나요?
              <div class="user-id">작성자: user123</div>
            </td>
            <td>16:42</td>
            <td>15</td>
            <td>15</td>
          </tr>
          <tr>
            <td>기타</td>
            <td>
              추천 받으려면 무엇이 좋나요?
              <div class="user-id">작성자: user123</div>
            </td>
            <td>16:42</td>
            <td>15</td>
            <td>15</td>
          </tr>
          <tr>
            <td>기타</td>
            <td>
              프로틴과 함께 먹으면 좋은 보충제는 무엇인가요?
              <div class="user-id">작성자: user123</div>
            </td>
            <td>16:42</td>
            <td>15</td>
            <td>15</td>
          </tr>
        </tbody>
      </table>
      <footer>
        <div class="write-btn-container">
          <button class="write-btn">
            <a href="/main/free_write">글쓰기</a>
          </button>
        </div>
        <div class="pagination">
<!--          이전버튼-->
          <button class="pagination-btn prev"
                  th:disabled="${nowPage == 1}"
                  th:onclick="'location.href=\'/main/free_board?page=' + (${nowPage - 2}) + '\''">
            ◀
          </button>

          <th:block th:each="pageNum : ${#numbers.sequence(startPage, endPage)}">
            <button class="pagination-btn"
                    th:classappend="${pageNum == nowPage} ? 'active'"
                    th:onclick="'location.href=\'/main/free_board?page=' + (${pageNum - 1}) + '\''">
              [[${pageNum}]]
            </button>
          </th:block>

<!--          다음버튼-->
          <button class="pagination-btn next"
                  th:disabled="${nowPage == endPage}"
                  th:onclick="'location.href=\'/main/free_board?page=' + ${nowPage} + '\''">
            ▶
          </button>
        </div>
        <div class="search-container">
          <form action="/search" method="get">
            <input
              type="text"
              name="query"
              class="search-input"
              placeholder="제목 검색..."
            />
            <button type="submit" class="search-btn">검색</button>
          </form>
        </div>
      </footer>
    </div>
  </body>
  <script src="/js/main/header.js" defer></script>
</html>
