<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>test</title>
    <link rel="stylesheet" href="/css/main/login_join.css" type="text/css" />
    <link rel="stylesheet" href="/css/main/header.css" type="text/css" />
</head>
<body>
<div id="pageoutside">
    <div id="header"></div>
    <div id="pageinside">
        <h2 class="title">회원가입</h2>
        <div class="username_box">
            <p>이름</p>
            <input class="insert" id="insert_name" type="text" placeholder="이름을 입력해주세요.">
            <p id="error_message1"></p>
        </div>

        <div class="userphone_box">
            <p >연락처</p>
            <div id="user_phone">
                <input class="insert" id="insert_phone"  type="text" placeholder="연락처(‘-’제외)를 입력해주세요.">
            </div>
            <p id="error_message2"></p>
        </div>



        <div class="useridpwd_box">
            <p>아이디</p>
            <input class="insert1" id="insert_id" type="text" placeholder="아이디를 입력해주세요.">
            <p id="error_message3"></p>
            <p>비밀번호</p>
            <input class="insert1" id="insert_pwd" type="text" placeholder="비밀번호를 입력해주세요.">
            <p id="error_message4"></p>
            <p>비밀번호 확인</p>
            <input class="insert1" id="insert_confirm_pwd" type="text" placeholder="비밀번호를 다시 입력해주세요.">
            <p id="error_message5"></p>
        </div>


        <div class="usergender_box">
            <p>성별</p>
            <div>
                <label>
                    <input class="radiogender" type="radio" name="gender" value="male" checked="checkbox"> 남성
                </label>
                <label>
                    <input class="radiogender" type="radio" name="gender" value="female"> 여성
                </label>
            </div>
        </div>

        <div id="userbirth_box">
            <p>생년월일</p>
            <input class="insert" id="insert_birth" type="text" placeholder="생년월일을 입력해주세요. ex.990101">
            <p id="error_message6"></p>
        </div>

        <div class="agree_box">
            <div id="allagree">
                <label>
                    <input id="all_check" type="checkbox" onclick="toggleCheckboxes()"> 모두 동의하기
                </label><br>
            </div>

            <div class="agree-gap">
                <label>
                    <input class="check" type="checkbox"> 만14세 이상입니다. <br>
                </label>
            </div>

            <div class="agree-gap">
                <label>
                    <input class="check" type="checkbox"> 이용약관 동의
                </label>
                <button class="view"  id="view1">전문보기</button>
            </div>

            <div id="terms_content1">
                <p class="content">주저리 주저리 주저리</p>
            </div>

            <div class="agree-gap">
                <label>
                    <input class="check" type="checkbox"> 개인정보 처리 방침 동의
                </label>
                <button class="view" id="view2">전문보기</button>
            </div>

            <div id="terms_content2">
                <p class="content" >주저리 주저리</p>
            </div>

            <div id="agree-gap">
                <label>
                    <input class="check" type="checkbox"> 마케팅 수신 동의
                </label>
                <button class="view" id="view3">전문보기</button>
            </div>

            <div id="terms_content3">
                <p class="content">주저리 주저리</p>
            </div>

        </div>
    </div>
    <div class="joinus_box">
        <button id="joinus" onclick="validateForm()">회원 가입</button>
    </div>
</div>
</div>

<script src="/js/main/new-join-us.js"></script>
<script src="/js/main/header.js" defer></script>
</body>
</html>