<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <link rel="stylesheet" th:href="@{/css/main/header.css}" type="text/css" />
</head>
<header id="header" class="header_wrap" th:fragment="header">
  <div class="menu_icon">
    <div></div>
  </div>
  <div class="logo"><a th:href="@{/}" class="propick-logo">propick</a></div>
  <div class="user_icon">
    <a class="logoutBtn" href="/user/login" sec:authorize="!isAuthenticated()">login</a>
    <form id="logoutBtnBox" sec:authorize="isAuthenticated()" th:action="@{/user/logout}" th:method="post">
      <button class="logoutBtn">logout</button>
    </form>
  <a th:href="@{/user/mypage}">
    <img src="/images/main/user.png" alt="" />
  </a>
</div>
  <div class="menu">
    <ul>
      <li>
        <a th:href="@{/main/recommend}">맞춤 프로틴 추천<span id="hot">HOT</span></a>
      </li>
      <li><a th:href="@{/products}">전체 상품 보기</a></li>
      <li><a th:href="@{/mypage}">마이페이지</a></li>
      <li><a th:href="@{/brandIntro}">브랜드 스토리</a></li>
      <li class="submenu">
        <a href="#">소식</a>
        <ul class="submenu_list">
          <li><a th:href="@{/collabo}">협업 브랜드</a></li>
          <li><a th:href="@{/event}">진행 이벤트</a></li>
        </ul>
      </li>
      <li class="submenu">
        <a href="#">게시판</a>
        <ul class="submenu_list">
          <li><a th:href="@{/main/notice/list}">공지사항게시판</a></li>
          <li><a th:href="@{/main/f&q_board/list}">F&A 게시판</a></li>
          <li><a th:href="@{/main/q&a_board}">Q&A 게시판</a></li>
          <li><a th:href="@{/main/free_board}">자유게시판</a></li>
        </ul>
      </li>
      <li><a th:href="@{/user/join}">회원가입</a></li>
    </ul>
  </div>
</header>
</html>