<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/main/mypage.css" type="text/css" />
  <link rel="stylesheet" href="/css/main/header.css" type="text/css" />
  <title>마이페이지</title>
</head>
<body>
<header id="header" class="header_wrap" th:replace="~{main/mainHeader}"></header>

<div class="container">
  <h2 class="page-title">마이페이지</h2>

  <div class="card">
    <h3 class="user-name"><span id="user-name" sec:authentication="name"></span>님 환영합니다.</h3>

    <div class="menu-grid">
      <div class="menu-item">
        <a href="/user/modifyMyInfo">
          <img src="/images/main/icon1.png" alt="정보 조회" /><br />
          <p>정보 조회</p>
        </a>
      </div>
      <div class="menu-item">
        <a href="/user">
          <img src="/images/main/icon2.png" alt="지난 설문" /><br />
        </a>
        <p>지난 설문</p>
      </div>
      <div class="menu-item">
        <a href="/favorite.html">
          <img src="/images/main/icon3.png" alt="즐겨찾기" /><br />
          <p>즐겨 찾기</p>
        </a>
      </div>
      <div class="menu-item">
        <a href="/post.html">
          <img src="/images/main/icon4.png" alt="내가 쓴 글" /><br />
          <p>내가 쓴 글</p>
        </a>
      </div>
      <div class="menu-item">
        <a href="/q&a.html">
          <img src="/images/main/icon5.png" alt="문의 내역" /><br />
          <p>문의 내역</p>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="popup">
  <div class="popup-content">
    <span class="close-btn">✖</span>
    <p class="popup-message">로그인이 필요합니다.</p>
    <button class="login-btn"><a th:href="@{/user/login}">로그인</a></button>
  </div>
</div>
</body>
<script src="/js/main/header.js" defer></script>
<!-- 3/17 js 팝업 닫기 추가 -->
<script>
  const closeBtn = document.querySelector(".close-btn");
  const popup = document.querySelector(".popup");
  closeBtn.addEventListener("click", function () {
    popup.style.display = "none";
  });
</script>
</html>