<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main/id_pwd_find.css" type="text/css" />
    <link rel="stylesheet" href="/css/main/header.css" type="text/css" />
    <title>비밀번호 찾기</title>
  </head>
  <body>
  <div id="header" class="header_wrap" th:replace="~{main/mainHeader}"></div>
  <div class="1" id="page1">
      <main class="container">
        <h2 class="title">프로픽</h2>
          <form action="/user/findpwd" class="find-id" method="post">
          <h3>비밀번호 재설정</h3>
          <p class="description">가입하신 아이디와 비밀번호를 입력하시고 비밀번호를 재등록하세요.</p>
          <input name="userId" type="text" placeholder="가입하신 아이디를 입력하세요." required>
          <input name="userPhone" type="text" placeholder="가입하신 전화번호를 입력하세요." required>
          <input name="userPwd" type="text" placeholder="새로운 비밀번호를 입력하세요." required>
          <button type="submit">등록</button>
          </form>
        <p class="masked-email" th:text="${success}">등록되었습니다.</p>
        <p class="masked-email" id="error_message_info" th:text="${error}">조회된 정보가 없습니다.</p>
        <div class="button-group">
          <button class="btn orange" onclick="goToLogin()">로그인</button>
        </div>
      </main>
    </div>
    <div class="2" id="page2">
    </div>
  </body>
  <script src="/js/main/header.js" defer></script>
</html>
