<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/main/main.css" type="text/css" />
  <link rel="stylesheet" href="/css/main/header.css" type="text/css" />
  <title>상품상세</title>
</head>
<body>
<div>
  <div id="header" class="header_wrap" th:replace="~{main/mainHeader}"></div>
  <div class="search_wrap">
    <div class="search">
      <input type="text" class="seach_input" placeholder="검색" />
      <div class="search_icon">
        <img src="/images/main/search.png" alt="" />
      </div>
    </div>
    <div class="category_list">
      <p>카테고리</p>
      <ul>
        <li class="category_menu ">전체보기</li>
        <li class="category_menu">연령대</li>
        <li class="category_menu">건강고민</li>
        <li class="category_menu">인기상품</li>
        <li class="category_menu">비건</li>
      </ul>
    </div>
    <div class="product_contents">
      <div class="img_left_wrap">
        <div th:each="image : ${product.productImages}">
          <img th:src="@{${image}}" alt="상품 이미지" style="max-width: 100%; height: auto;">
        </div>
      </div>
      <div class="txt_right_wrap">
        <div class="txt_info">
          <h1 th:text="${product.productName}">상품명</h1>
          <ul>
            <li>브랜드 : <p th:text="${product.brandName}">브랜드명</p></li>
            <li>프로틴 종류 : <p th:text="${product.productType}">상품 유형</p></li>
          </ul>
          <ul>
            <li>가격 : <p th:text="${#numbers.formatInteger(product.productPrice, 3, 'COMMA')}">></p> 원</li>
            <li>칼로리 : <p th:text="${product.calories}"></p></li>
          </ul>
          <ul>
            <!--                        <li th:each="entry : ${product.nutrients}">-->
            <!--                            <strong th:text="${entry.key}">Nutrient Name</strong>: <span th:text="${entry.value}">Nutrient Value</span>-->
            <!--                        </li>-->

          </ul>
        </div>

        <div class="nutrition_facts">
          <h2>영양성분표</h2>
          <table>
            <caption>1회 제공량 당 / 1일 영양성분 기준치에 대한 비율</caption>
            <thead>
            <tr>
              <th>영양성분</th>
              <th>성분량</th>
              <th>1회 섭취량</th>
              <th>단백질 함량</th>
              <th>총 내용량 당</th>
            </tr>
            </thead>
            <tbody>
            <!-- 성분 정보를 반복하는 부분 -->
            <tr th:each="ingredient : ${product.ingredientDTOs}">
              <td th:text="${ingredient.ingredientName}">성분명</td>
              <td th:text="${ingredient.ingredientInfo}">성분량</td>
            </tr>

            <!-- 나머지 제품 관련 정보는 반복 없이 별도로 처리 -->
            <tr>
              <td>1회 섭취량</td>
              <td th:text="${product.servingSize}">1회 섭취량</td>
            </tr>
            <tr>
              <td>단백질 함량</td>
              <td th:text="${product.proteinAmount}">단백질 함량</td>
            </tr>
            <tr>
              <td>100g 기준 단백질 함량</td>
              <td th:text="${product.proteinPer100g}">100g 기준 단백질 함량</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="/js/main/header.js" defer></script>
<script src="/js/main/product.js"></script>
</html>
