<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>문의 글</title>
    <link rel="stylesheet" href="css/my_write.css" type="text/css" />
    <link rel="stylesheet" href="css/header.css" type="text/css" />
  </head>
  <body>
    <div id="header"></div>
    <div class="big_container">
      <div class="middle_container">
        <div class="my_text_title">
          <img src="images/myqna.png" alt="문의 글 사진" />
          <p>문의 글</p>
        </div>

        <div class="title_day_header">
          <p id="title">제목</p>
          <span id="created_at">등록일</span>
          <span>답변</span>
        </div>

        <div class="line">
          <ul>
            <li>
              1
              <p><a href="/update_my_q&a.html">문의내용</a></p>
            </li>

            <li>2</li>

            <li>3</li>

            <li>4</li>

            <li>5</li>

            <li>6</li>
          </ul>
        </div>
      </div>
    </div>
  </body>
  <script src="/js/header.js" defer></script>
</html>
