<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main/survey.css" type="text/css" />
    <title>설문조사</title>
</head>
<body>
<div id="wrap">
    <!-- JS로 동적 페이지 렌더링 (기본정보, 목적, 건강고민 모두 포함) -->
    <div class="contents_wrap active" id="dynamic_page_0">
        <header>
            <div class="before_page">이전</div>
            <div class="contents_title"></div>
            <div class="close_btn"></div>
        </header>
        <div class="header_line">
            <ul>
                <li class="header_line_first"></li>
                <li class="header_line_second"></li>
                <li class="header_line_third"></li>
            </ul>
        </div>
        <div class="contents_sub_title"></div>
        <div class="contents_impo_title"></div>
        <div class="dynamic_input_area"></div>
        <div class="next_wrap">
            <p>다음</p>
        </div>
    </div>

    <!-- 동적 페이지를 위한 추가 템플릿 (JS에서 동적으로 활성화) -->
    <div class="contents_wrap" id="dynamic_page_1">
        <header>
            <div class="before_page">이전</div>
            <div class="contents_title"></div>
            <div class="close_btn"></div>
        </header>
        <div class="header_line">
            <ul>
                <li class="header_line_first"></li>
                <li class="header_line_second"></li>
                <li class="header_line_third"></li>
            </ul>
        </div>
        <div class="contents_sub_title"></div>
        <div class="contents_impo_title"></div>
        <div class="dynamic_input_area"></div>
        <div class="next_wrap">
            <p>다음</p>
        </div>
    </div>

    <div class="contents_wrap" id="dynamic_page_2">
        <header>
            <div class="before_page">이전</div>
            <div class="contents_title"></div>
            <div class="close_btn"></div>
        </header>
        <div class="header_line">
            <ul>
                <li class="header_line_first"></li>
                <li class="header_line_second"></li>
                <li class="header_line_third"></li>
            </ul>
        </div>
        <div class="contents_sub_title"></div>
        <div class="contents_impo_title"></div>
        <div class="dynamic_input_area"></div>
        <div class="next_wrap">
            <p>다음</p>
        </div>
    </div>
    <div class="contents_wrap" id="dynamic_page_3">
        <header>
            <div class="before_page">이전</div>
            <div class="contents_title"></div>
            <div class="close_btn"></div>
        </header>
        <div class="header_line">
            <ul>
                <li class="header_line_first"></li>
                <li class="header_line_second"></li>
                <li class="header_line_third"></li>
            </ul>
        </div>
        <div class="contents_sub_title"></div>
        <div class="contents_impo_title"></div>
        <div class="dynamic_input_area"></div>
        <div class="next_wrap">
            <p>다음</p>
        </div>
    </div>
    <div class="contents_wrap" id="dynamic_page_4">
        <header>
            <div class="before_page">이전</div>
            <div class="contents_title"></div>
            <div class="close_btn"></div>
        </header>
        <div class="header_line">
            <ul>
                <li class="header_line_first"></li>
                <li class="header_line_second"></li>
                <li class="header_line_third"></li>
            </ul>
        </div>
        <div class="contents_sub_title"></div>
        <div class="contents_impo_title"></div>
        <div class="dynamic_input_area"></div>
        <div class="next_wrap">
            <p>다음</p>
        </div>
    </div>
    <div class="contents_wrap" id="dynamic_page_5">
        <header>
            <div class="before_page">이전</div>
            <div class="contents_title"></div>
            <div class="close_btn"></div>
        </header>
        <div class="header_line">
            <ul>
                <li class="header_line_first"></li>
                <li class="header_line_second"></li>
                <li class="header_line_third"></li>
            </ul>
        </div>
        <div class="contents_sub_title"></div>
        <div class="contents_impo_title"></div>
        <div class="dynamic_input_area"></div>
        <div class="next_wrap">
            <p>다음</p>
        </div>
    </div>
    <div class="contents_wrap" id="dynamic_page_6">
        <header>
            <div class="before_page">이전</div>
            <div class="contents_title"></div>
            <div class="close_btn"></div>
        </header>
        <div class="header_line">
            <ul>
                <li class="header_line_first"></li>
                <li class="header_line_second"></li>
                <li class="header_line_third"></li>
            </ul>
        </div>
        <div class="contents_sub_title"></div>
        <div class="contents_impo_title"></div>
        <div class="dynamic_input_area"></div>
        <div class="next_wrap">
            <p>다음</p>
        </div>
    </div>
    <div class="contents_wrap" id="dynamic_page_7">
        <header>
            <div class="before_page">이전</div>
            <div class="contents_title"></div>
            <div class="close_btn"></div>
        </header>
        <div class="header_line">
            <ul>
                <li class="header_line_first"></li>
                <li class="header_line_second"></li>
                <li class="header_line_third"></li>
            </ul>
        </div>
        <div class="contents_sub_title"></div>
        <div class="contents_impo_title"></div>
        <div class="dynamic_input_area"></div>
        <div class="next_wrap">
            <p>다음</p>
        </div>
    </div>
    <div class="contents_wrap" id="dynamic_page_8">
        <header>
            <div class="before_page">이전</div>
            <div class="contents_title"></div>
            <div class="close_btn"></div>
        </header>
        <div class="header_line">
            <ul>
                <li class="header_line_first"></li>
                <li class="header_line_second"></li>
                <li class="header_line_third"></li>
            </ul>
        </div>
        <div class="contents_sub_title"></div>
        <div class="contents_impo_title"></div>
        <div class="dynamic_input_area"></div>
        <div class="next_wrap">
            <p>다음</p>
        </div>
    </div>
    <div class="contents_wrap" id="dynamic_page_9">
        <header>
            <div class="before_page">이전</div>
            <div class="contents_title"></div>
            <div class="close_btn"></div>
        </header>
        <div class="header_line">
            <ul>
                <li class="header_line_first"></li>
                <li class="header_line_second"></li>
                <li class="header_line_third"></li>
            </ul>
        </div>
        <div class="contents_sub_title"></div>
        <div class="contents_impo_title"></div>
        <div class="dynamic_input_area"></div>
        <div class="next_wrap">
            <p>다음</p>
        </div>
    </div>
    <div class="contents_wrap" id="concern_detail_page">
        <header>
            <div class="before_page">이전</div>
            <div class="contents_title">하위 증상 선택</div>
            <div class="close_btn"></div>
        </header>
        <div class="header_line">
            <ul>
                <li class="header_line_first"></li>
                <li class="header_line_second"></li>
                <li class="header_line_third"></li>
            </ul>
        </div>
        <div id="health_detail_title" class="contents_sub_title"></div>
        <div id="detail_question_description" class="contents_impo_title"></div>
        <div class="select_health_contents">
            <ul id="detail_options_container"></ul>
        </div>
        <div class="next_wrap" id="detail_next_btn"><p>다음</p></div>
    </div>
    <!-- 최종 완료 페이지 (로그인 후 결과 확인) -->
    <div class="contents_wrap" id="concern_page3">
        <header>
            <div class="before_page">이전</div>
            <div class="contents_title">설문 완료</div>
            <div class="close_btn"></div>
        </header>
        <div class="header_line">
            <ul>
                <li class="header_line_first"></li>
                <li class="header_line_second"></li>
                <li class="header_line_third"></li>
            </ul>
        </div>
        <div class="contents_sub_title">
            <img src="/images/main/thumb.png" alt="설문완료" />
            <p>추천을 위한 질문에 모두 답하셨어요!</p>
            <span>추천 결과는 로그인(회원가입) 후 확인할 수 있어요.</span>
        </div>
        <div class="contents_impo_title">
            <p><a href="/user/login?redirect=/survey_result">로그인(회원가입) 하러가기</a></p>
        </div>
        <div class="next_wrap" id="submit_btn">
            <p>로그인 후 결과 확인</p>
        </div>
    </div>

    <!-- 공통 경고 메시지 -->
    <div class="warning_message">
        <img src="/images/main/warning.png" alt="경고" />
        <p id="warning">입력값을 확인해주세요</p>
    </div>
</div>

<!-- 설문 중도 종료 팝업 -->
<div class="popup_bg">
    <div class="survey_end_wrap">
        <p>지금 설문을 종료하시겠어요?</p>
        <span>설문을 종료하면 프로픽으로 이동합니다.</span>
        <div class="btn_wrap">
            <div class="end_btn">종료</div>
            <div class="keep_btn">계속 설문하기</div>
        </div>
    </div>
</div>

<script src="/js/main/survey2.js"></script>

</body>
</html>
