<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/login_join.css" type="text/css" />
    <link rel="stylesheet" href="/css/header.css" type="text/css" />
    <title>내 정보 관리</title>
  </head>
  <body>
    <div id="header"></div>
    <div class="page1">
      <h2>내 정보 관리</h2>
      <hr />
      <div class="section">
        <h4>계정정보</h4>
        <p>ohgiraffers@gmail.com</p>
      </div>

      <div class="section">
        <h4>전화번호</h4>
        <p>010-1234-5678</p>
        <button class="button">전화번호 변경</button>
      </div>

      <div class="section">
        <h4>프로필</h4>
        <p>2002년생 / (여성)</p>
        <button class="button">프로필 변경</button>
      </div>

      <div class="section">
        <h4>마케팅 알림</h4>
        <p>
          이메일 : <span class="highlight">ON</span> &nbsp; SMS :
          <span class="highlight">ON</span>
        </p>
        <button class="button">마케팅 알림 변경</button>
      </div>

      <div class="section">
        <button class="button" style="border: none; background: none">
          회원탈퇴
        </button>
      </div>
    </div>

    <div class="page2">
      <div class="section">
        <h4>전화번호</h4>
        <p>010-1234-5678</p>
        <button class="button">전화번호 변경</button>
      </div>
    </div>

    <div class="page3">
      <div class="section">
        <h4>프로필</h4>
        <p>2002년생 / (여성)</p>
        <button class="button">프로필 변경</button>
      </div>
    </div>

    <div class="page4">
      <div class="section">
        <h4>마케팅 알림</h4>
        <p>
          이메일 : <span class="highlight">ON</span> &nbsp; SMS :
          <span class="highlight">ON</span>
        </p>
        <button class="button">마케팅 알림 변경</button>
      </div>
    </div>

    <div class="container2">
      <h2 class="title">회원탈퇴</h2>

      <div class="withdrawal-info">
        <p class="subtitle">탈퇴 안내</p>
        <p class="description">
          회원탈퇴를 신청하기 전에 안내사항을 꼭 확인해 주세요.
        </p>
      </div>

      <div class="alert-box">
        <div class="alert-icon">🟠</div>
        <div>
          <p class="alert-title">
            <b
              >사용하고 계신 아이디는 탈퇴할 경우 재사용 및 복구가
              불가능합니다.</b
            >
          </p>
          <p class="sub-text">
            <span class="red-text"
              >탈퇴한 아이디는 동일한 타입 내에서 재사용 및 복구가 불가</span
            >하므로 신중하게 신청하시기 바랍니다.
          </p>
        </div>
      </div>

      <div class="alert-box">
        <div class="alert-icon">🟠</div>
        <div>
          <p class="alert-title">
            <b>탈퇴 후 회원정보 및 설문조사 기록은 모두 삭제됩니다.</b>
          </p>
          <p class="sub-text">
            회원정보 및 개인의 설문조사 기록, 제품 추천 기록은 모두 삭제되며,
            삭제된 데이터는 복구되지 않습니다.
          </p>
        </div>
      </div>

      <button class="button">회원 탈퇴</button>
    </div>

    <div class="popup">
      <div class="popup-content">
        <span class="close-btn">✖</span>
        <p class="popup-message">정말 탈퇴하시겠습니까?.</p>
        <button class="login-btn">회원탈퇴</button>
      </div>
    </div>
  </body>
  <script src="/js/header.js" defer></script>
</html>
