@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

* {
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Pretendard Variable", Pretendard, sans-serif;
}

body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  background: #f5edeb;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.user_icon img {
  max-width: 25px;
  margin-top: 5px;
}

.container {
  max-width: 800px;
  margin: 100px auto;

  text-align: center;
}

.page-title {
  font-size: 22px;
  margin: 40px;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-bottom: 20px;
}

.btn {
  border: 1px solid black;
  background: #fff;
  color: black;
  padding: 10px 20px;
  border-radius: 16px;
  cursor: pointer;
  font-size: 16px;
}

.btn.active {
  background: #fff;
  color: #ff5c35;
  border: 1px solid #ff5c35;
}

.banner {
  background-color: #ff99cc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  position: relative;
  overflow: hidden;
}

.banner-content {
  color: white;
  text-align: left;
}

.banner-content h1 {
  font-size: 2em;
  line-height: 1.5;
  margin: 0;
}

.btn {
  background-color: white;
  color: #ff99cc;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.timer {
  position: relative;
}

.timer img {
  width: 100px;
  height: auto;
}

.info-section {
  background-color: white;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.info-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.info-header h2 {
  font-size: 20px;
  margin: 0;
  flex: 1;
  text-align: left;
}

.icon {
  margin-right: 10px;
}

.date {
  font-size: 0.9em;
  color: #666;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 20px 0;
  text-align: left;
}

ul li {
  font-size: 0.9em;
  color: #333;
  margin-bottom: 10px;
  line-height: 1.5;
}

.more-btn {
  display: block; /* a 태그를 블록 요소로 설정 */
  background-color: #333;
  color: white;
  text-decoration: none; /* 링크의 기본 밑줄 제거 */
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  box-sizing: border-box; /* 패딩과 너비 계산을 일관되게 */
}

.more-btn:hover {
  background-color: #555; /* 호버 효과 추가 */
}
