@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

* {
  font-family: "Pretendard Variable", Pretendard, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.header_wrap {
  width: 100%;
  height: 60px;
  background-color: #b5c3b3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
}

.logo {
  font-family: "Pacifico", cursive;
  color: #ff5c35;
  font-size: 30px;
  margin-top: -10px;
}
.logo a {
  font-family: "Pacifico", cursive;
}

.user_icon {
  margin-right: 30px;
}

.menu_icon {
  position: relative;
  width: 30px;
  height: 20px;
  cursor: pointer;
  margin-left: 30px;
  z-index: 9999;
}

.menu_icon::before,
.menu_icon::after,
.menu_icon div {
  content: "";
  background-color: #000;
  height: 4px;
  width: 100%;
  transition: transform 0.3s ease, background-color 0.3s ease;
  z-index: 30;
  position: absolute;
}
.menu_icon::before {
  top: 0;
}
.menu_icon::after {
  bottom: 0;
}
.menu_icon div {
  top: 50%;
  transform: translateY(-50%);
}

.menu_icon.active::before {
  transform: rotate(45deg);
  top: 50%;
}

.menu_icon.active::after {
  transform: rotate(-45deg);
  bottom: 37%;
}
.menu_icon.active div {
  opacity: 0;
}

.menu {
  /* position: absolute; */
  /* top: 0; */
  /* left: -25rem;
  width: 15rem;
  height: 100vh;
  background-color: #fff;
  transition: transform 0.3s ease;
  z-index: 30; */
/* 
  position: fixed;
    top: 0;
    left: -100%;  
    width: 400px;  
    height: 100%;
    background-color: #fff;  
    transition: left 0.3s ease;  
    z-index: 9;  */
    display: none;
    position: fixed;
    z-index: 999;
    color: #000;
    top: 0;
    left: 0;
    width: 400px;
    margin: 0 auto;
    height: 100%;
    background-color: #fff;
}

.menu.open {
 display: block;
}

.menu ul {
  font-size: 20px;
  width: 100%;
  padding-top: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menu ul li {
  color: #000;
  border-bottom: 1px solid #d9d9d9;
  padding: 20px;
  width: 85%;
}

.menu ul li a {
  font-size: 20px;
}

.submenu_list {
  display: none;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
  padding-left: 30px;
  padding-top: 0 !important;
}

.submenu_list.active {
  display: block;
  opacity: 1;
  max-height: 200px;
}
.submenu_list:nth-child(2).active {
  max-height: 500px;
}

#hot {
  color: #ff5c35;
  margin-left: 20px;
  font-size: 20px;
  display: inline-block;
  width: 60px;
  background-color: #ffb19e;
  border-radius: 14px;
  text-align: center;
  padding: 5px;
}

#modal .background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  transition: background-color 0.3s ease;
}

#modal .background.active {
  display: block;
}
.menu_icon.active {
  background: transparent;
}
