@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
body {
    font-family: "Pretendard Variable", Pretendard, sans-serif;
    font-size: 14px;
    word-break: keep-all;
    line-height: 1.2;
    color: #333;
}
body, html {
    height: 100%;
}
body {
    display: block;
    margin: 8px;
}

a, abbr, address, article, aside, audio, b, big, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, meter, nav, object, ol, output, p, pre, progress, q, rp, rt, ruby, s, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

#survey {
    background-color: #f5edeb;
    min-height: 100%;
}
.only-sr {
    overflow: hidden !important;
    position: absolute !important;
    left: -9999px !important;
    top: -9999px !important;
    width: 1px;
    height: 1px;
}
/*b, dt, h1, h2, h3, h4, h5, h6, strong, th {*/
/*    font-weight: 700;*/
/*}*/
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
#survey>.survey-wrap {
    width: 100%;
    height: 100%;
    padding-bottom: 96px;
}

